{% extends 'base.html.twig' %}


{% block body %} 
 
    <div class="container-fluid alert alert-dark alert-dismissible fade show pt-0 pb-2"  role="alert" >  
        <div class="row">
            <div class="col-10 mx-auto"> 
                <h2 class="alert-heading display-2">Discotecas</h2>
                <hr>
                <p class="mb-0 lead">Todas las discotecas de Pamplona y de navarra. Las mejores de todas.</p>
            </div> 
        </div>   
        <button type="button" class="close" data-dismiss="alert" arialabel="Close">  
            <span aria-hidden="true">&times;</span>  
        </button>  
    </div> 
 
    <div class="container-fluid">   
        <div class="row">   
            <div class="col-10 mx-auto">   
                <h6 class="lead">Las discotecas.</h6> 
            </div>  
        </div> 
        <div class="row bg-white">   
            <div class="col-8 mx-auto ">  
                {# for disc in discotecas %}    
                    <div class="media py-2">  
                        <img class="my-auto card-img" style="width:60px" src="{{ disc.getImagen() }}" alt="logo empresa">
                        <div class="media-body">    
                            <div class="mx-4 d-flex justify-content-between ">   
                                <h4 class="p-0"> {{ offer.getNombre() }}     
                                         
                                </h4>                      
                                    <a href="{{ path('offers_show', {'id': disc.getId()}) }}" class="btn btn-outline-primary">More details...</a>  
                            </div>      
                                         
                        </div>  
                    </div>   
                    <hr/>  
                {% endfor #} 
            </div>   
        </div>   
    </div> 
{% endblock %} 
 
 
