/*_settings: Contiene las variables globales, configuración, colores, etc. común para todo el proyecto.*/

$font-family:  "Lucida Grande", Lucida, Verdana, sans-serif;
$title-font-family:   "Bungee";

$bg-color:  #828f95;
$light-font-color: white;

$header-bg-color:  #3498DB;

$footer-bg-color:  #1F3450;

