/*_themes: Estilos para cambiar el aspecto de componentes y elementos en base a la clase del theme.*/

body {
  font: $font-family;
  background-color: $bg-color;
}

#header a.navbar-brand {
  font-family: $title-font-family;
  color: $light-font-color;
}

#sub_header {
   color: $light-font-color;
  width: 100%;
  background: $header-bg-color;
  margin: 0 auto;
}

#content {
  h1 {
    margin-top: 2vh;
    padding: 0px 2vh;
    font-size: 124%;
    text-transform: uppercase;
    color:  $light-font-color;
  }
}

#footer {
  font-size: 90%;
  background-color: $footer-bg-color;
  color: $light-font-color;
}